{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Course</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>

<body>
    <nav>
        <div>
            <a href="#hero">Home</a>
            <a href="#about">About</a>
            <a href="#courses">Courses</a>


        </div>
        <div class="nav flex_around">
            <a href="#teachers">Teachers</a>
            <a href="#contact">Contact</a>
            <a href="{% url 'profile' %}">Profile</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
    
  <!-- Messages Section -->
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
          <div class="alert {{ message.tags }}">{{ message }}</div>
      {% endfor %}
  </div>
{% endif %}
    <!-- Hero Section -->
    <header class="hero" id="hero">
        <h1>Welcome Back!</h1>
    </header>

    <!-- Courses Section -->
    <section id="courses">
        <h1>Our Courses</h1>
        <div class="card-container">
            {% for x in course %}
            <div class="card">
                <img src="{{ x.image.url }}" alt="">
                <h2>{{ x.title }}</h2>
                <p>{{ x.description }}</p>
                <a href="{% url 'course' x.id   %}">Learn More</a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Teachers Section -->
    <section id="teachers">
        <h1>Our Teachers</h1>
        <div class="card-container">
            {% for x in teacher %}
            <div class="card teacher-card">
                <img src="{{ x.image.url }}" alt="">
                <h2>{{ x.name }}</h2>
                <p>{{ x.about }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <h1>Contact Us</h1>
        <form class="contact-form" method="POST" action="{% url 'contact' %}">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Your Name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Your Email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" placeholder="Write your message here" required></textarea>
            <input type="submit" value="Send Message">
        </form>
    </section>
</body>

</html>